/* Write the CSS for you answer here */
div {
    position: relative;
    left: 25%;
    width: 700px;
    height: 541px;
}

#landscapeImg {
    position: absolute;
    z-index: -1;
}

#pohutukawaImg {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: auto;
    top: 120px;
}

.balls {
    z-index: 2;
    width: 50px;
    transition: width linear;
}

.balls:hover {
    width: 70px;
}

#redImg {
    position: absolute;
    top: 65%;
    left: 5%;
}

#blueImg {
    position: absolute;
    top: 45%;
    left: 15%;
}

#darkblueImg {
    position: absolute;
    top: 50%;
    left: 40%;
}

#pinkImg {
    position: absolute;
    z-index: 0;
    top: 60%;
    left: 55%;
}

#greenImg {
    position: absolute;
    top: 35%;
    left: 60%;
}

#orangeImg {
    position: absolute;
    top: 50%;
    left: 85%;
}

img#pohutukawaImg {
    pointer-events: none
}