/* Write the CSS for you answer here */
div {
    position: relative;
    left: 25%;
    width: 700px;
    height: 541px;
}

#landscapeImg {
    position: absolute;
    z-index: -1;
}

#pohutukawaImg {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: auto;
    top: 120px;
}

#redImg {
    position: absolute;
    top: 65%;
    left: 5%;
}

#blueImg {
    position: absolute;
    top: 45%;
    left: 15%;
}

#darkblueImg {
    position: absolute;
    top: 50%;
    left: 40%;
}

#pinkImg {
    position: absolute;
    z-index: 0;
    top: 55%;
    left: 55%;
}

#greenImg {
    position: absolute;
    top: 35%;
    left: 60%;
}

#orangeImg {
    position: absolute;
    top: 50%;
    left: 85%;
}

img#pohutukawaImg {
    pointer-events: none
}

@keyframes bounceInDown {

    from,
    50%,
    70%,
    85%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {

        transform: translate3d(0, 0, 0);
    }

    50% {
        position: absolute;
        top: 80%;
    }

    70% {

        position: absolute;
        top: 50%;
    }
    85% {
        position: absolute;
        top: 80%;
    }
    90% {

        position: absolute;
        top: 70%;
    }

    to {
        position: absolute;
        top: 80%;
    }

}

.bounceInDown {
    animation-name: bounceInDown;
}

.balls {
    z-index: 2;
    width: 50px;
    height: auto;
}

div:hover img.balls {
    animation-play-state: running;
    animation: bounceInDown 1.5s forwards;
}

div:not(:hover) img.balls {
    animation-play-state: paused;
}
