/* Write the CSS for you answer here */
div {
    position: relative;
    left: 25%;
    width: 700px;
    height: 541px;
}

#landscapeImg {
    position: absolute;
    z-index: -1;
}

#pohutukawaImg {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: auto;
    top: 120px;
}

.balls {
    z-index: 2;
    width: 50px;
    height: auto;
    transition: width linear;
    animation: bounceInDown 2s forwards;
}

.balls:hover {

    animation: bounceInDown 2s forwards infinite;
}

#redImg {
    position: absolute;
    top: 65%;
    left: 5%;
}

#blueImg {
    position: absolute;
    top: 45%;
    left: 15%;
}

#darkblueImg {
    position: absolute;
    top: 50%;
    left: 40%;
}

#pinkImg {
    position: absolute;
    z-index: 0;
    top: 55%;
    left: 55%;
}

#greenImg {
    position: absolute;
    top: 35%;
    left: 60%;
}

#orangeImg {
    position: absolute;
    top: 50%;
    left: 85%;
}

img#pohutukawaImg {
    pointer-events: none
}

@keyframes bounceInDown {

    from,
    50%,
    70%,
    85%,
    90%,
    to {

        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    }

    0% {

        opacity: 0;

        -webkit-transform: translate3d(0, 0, 0);

        transform: translate3d(0, 0, 0);

    }

    50% {

        opacity: 1;

        -webkit-transform: translate3d(0, 100px, 0);

        transform: translate3d(0, 100px, 0);

    }

    70% {

        -webkit-transform: translate3d(0, 50px, 0);

        transform: translate3d(0, 50px, 0);

    }
    85% {
        -webkit-transform: translate3d(0, 100px, 0);

        transform: translate3d(0, 100px, 0);
    }

    90% {

        -webkit-transform: translate3d(0, 80px, 0);

        transform: translate3d(0, 80px, 0);

    }

    to {

        -webkit-transform: translate3d(0, 100px, 0);

        transform: translate3d(0, 100px, 0);

    }

}

.bounceInDown {

    -webkit-animation-name: bounceInDown;

    animation-name: bounceInDown;

}