/* Write the CSS for you answer here */
div {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 700px;
    height: 541px;
}

#landscapeImg {
    position: absolute;
    z-index: -1;
}

#pohutukawaImg {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: auto;
    top: 120px;
}

.balls {
    z-index: 2;
}

#redImg {
    position: relative;
    top: 65%;
    left: 5%;
}

#blueImg {
    position: relative;
    top: 40%;
    left: 10%;
}

#darkblueImg {
    position: relative;
    top: 50%;
    left: 25%;
}

#pinkImg {
    position: relative;
    z-index: 0;
    top: 60%;
    left: 35%;
}

#greenImg {
    position: relative;
    top: 35%;
    left: 30%;
}

#orangeImg {
    position: relative;
    top: 50%;
    left: 45%;
}